@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Learn, Share, Build!</h2>
    <h3>Each month, over 50 million developers come to Stak Overflow to learn, share their knowledge, and built their carrers.</h3>
    <p class="lead">Join the world's largest developer community.</p>
</div>
